In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import yaml
pd.set_option('display.max_columns', None)

In [2]:
try:
    with open("..\config.yaml", "r") as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Error reading the config file", e)

In [3]:
#delays_cancellations = pd.read_csv(config["data"]["clean1"])
#delays_cancellations.head()

In [4]:
# Ho: columns are independent
# H1: columns are related

In [5]:
# Departure delay vs. day of the week
day_of_week = pd.read_csv(config['data']['plot1'])
day_of_week.head()

,fl_date,fl_day_week,crs_dep_time,dep_time,dep_delay,delay,cancelled,delay_cancelled
0,2018-01-01,Monday,15:17:00,15:12:00,-5.0,0,0,On time
1,2018-01-01,Monday,11:15:00,11:07:00,-8.0,0,0,On time
2,2018-01-01,Monday,13:35:00,13:30:00,-5.0,0,0,On time
3,2018-01-01,Monday,15:46:00,15:52:00,6.0,1,0,Delay
4,2018-01-01,Monday,06:30:00,06:50:00,20.0,1,0,Delay

In [6]:
data_crosstab = pd.crosstab(day_of_week['dep_delay'], day_of_week['fl_day_week'], margins = False)
data_crosstab

fl_day_week  Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
dep_delay
-122.0            0       0         0       0         0        1          0
-120.0            0       0         0       0         1        0          0
-114.0            0       0         0       0         1        0          0
-112.0            0       0         0       0         1        0          0
-111.0            0       0         0       0         1        0          0
...             ...     ...       ...     ...       ...      ...        ...
 2098.0           0       0         0       1         0        0          0
 2109.0           0       0         0       1         0        0          0
 2468.0           1       0         0       0         0        0          0
 2482.0           1       0         0       0         0        0          0
 2710.0           0       0         0       0         1        0          0

[1488 rows x 7 columns]